/*-- scss:defaults --*/


/*-- scss:rules --*/
div.quarto-category, div.metadata-value a {
    color: var(--bs-success) !important;
}
.table, tr {
	caption-side: bottom;
	border: hidden;
}

div.nav-footer {
    background-color: #073642;
}
